<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="nlog-internal.log">
    <targets>
        <target xsi:type="File" name="fileTarget" fileName="FileDownlaoder.log" layout="${longdate} ${level:uppercase=true} ${message}" />
   </targets>

  <!-- Define your rules (how logs are routed to targets) -->
  <rules>
     <logger name="*" minlevel="Error" writeTo="fileTarget" />
   </rules>
</nlog>
